@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.link {
  background: #f5f5f5 0 0 no-repeat padding-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  opacity: 1;
  padding: 7px;
}

.main {
  border: 1px solid #e2e2e2;
  display: flex;
  margin: 0 auto;
}

.left {
  background-color: #f5f5f5;
  /* width: 30%; */
  border: 0 solid #e5e7eb;
  padding-top: 20px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

img {
  vertical-align: middle;
  margin-right: 20px;
}

/* cistom switch */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px;
}

.custom-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.custom-switch input:checked + .custom-slider {
  background-color: #009587;
}

.custom-switch input:checked + .custom-slider:before {
  transform: translateX(20px);
}

.property-nav {
  max-width: 400px;
  margin: auto;
}

.property-type {
  background-color: #f2f2f2;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin-left: -10px;
  align-items: center;
  padding: 8px 43px;
  text-align: center;
  width: 100%;
}

.property-ad-type-section {
  background-color: rgb(255, 252, 252);
  border: 1px solid rgb(209, 209, 209);
  height: 100%;
  width: 600px;
  padding: 25px 40px;
  font-size: 14px;
  margin-left: -100px;
}

.ad-type {
  background-color: rgb(255, 252, 252);
  border: 1px solid rgb(209, 209, 209);
  height: 100%;
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.property-types,
.ad-types {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.property-type.active {
  font-weight: bold;
  background-color: #fff;
  border-bottom: 3px solid #009587;
}
.ad-type.active {
  background-color: #009587;
  color: #fff;
}

.post-ad-button {
  text-align: center;
  margin-top: 1em;
  border-radius: none;
  padding: 4px 40px;
  background-color: #ff414d;
}

.help-call {
  width: 90%;
  background-color: #fceccf;
  color: rgb(83, 83, 83);
  text-align: center;
  padding: 5px;
  margin-left: 5%;
  font-size: 14px;
}

/* faq */
.faq-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.faq-item {
  border-bottom: 1.5px solid #b1b1b1;
  padding: 20px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #009587;
  transition: color 0.1s ease;
}

.faq-question.active {
  color: #555;
}

.faq-icon {
  font-size: 1.2rem;
  color: #464949;
  transition: transform 0.3s ease;
}

.faq-icon.rotate {
  transform: rotate(-45deg);
}

.faq-answer {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}
